<div  style="margin-top: 500;"class="wrapper fadeInDown">

    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 [routerLink]="['/auth/signup']"  class="inactive underlineHover">S'inscrire</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://wwwnc.cdc.gov/travel/images/hiker-ocean-extreme.jpg" id="icon" alt="User Icon" />
      </div>
  <br>
      <!-- Login Form -->
      <form>
        <input type="text" id="Nom" class="fadeIn second" name="Nom" placeholder="Nom">
        <input type="text" id="Prenom" class="fadeIn second" name="Prenom" placeholder="Prenom">
        <input type="text" id="Tel" class="fadeIn second" name="Tel" placeholder="Tel">
        <input type="text" id="Username" class="fadeIn second" name="Username" placeholder="Username">
        <input type="password" id="Password" class="fadeIn second" name="Password" placeholder="Password">



        <input type="submit" class="fadeIn fourth" value="S'inscrire">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
      </div>
  
    </div>
  </div>